<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.viableindustries.waterreporter">

    <!-- These permissions do not require run time checks in Android 6.0 and above -->

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- These permissions require run time checks in Android 6.0 and above -->

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.Camera"
        android:required="false" />

    <application
        android:name="com.orm.SugarApp"
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@drawable/water_reporter_logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        tools:replace="android:icon">

        <!-- Mapbox telemetry service -->
        <service android:name="com.mapbox.mapboxsdk.telemetry.TelemetryService" />

        <meta-data
            android:name="DATABASE"
            android:value="reports_001.db" />
        <meta-data
            android:name="VERSION"
            android:value="2" />
        <meta-data
            android:name="QUERY_LOG"
            android:value="true" />
        <meta-data
            android:name="DOMAIN_PACKAGE_NAME"
            android:value="com.viableindustries.waterreporter.data" />

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SubmissionsActivity"
            android:label="@string/title_activity_submissions"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.viableindustries.waterreporter.MainActivity" />
        </activity>
        <activity
            android:name=".SubmissionDetailActivity"
            android:label=""
            android:parentActivityName=".SubmissionsActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.viableindustries.waterreporter.SubmissionsActivity" />
        </activity>
        <activity
            android:name=".PhotoMetaActivity"
            android:label="@string/title_activity_report"
            android:parentActivityName=".PhotoActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.viableindustries.waterreporter.PhotoActivity" />
        </activity>
        <activity
            android:name=".MarkerDetailActivity"
            android:label="@string/title_activity_marker"
            android:parentActivityName=".MapDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.viableindustries.waterreporter.MapDetailActivity" />
        </activity>
        <activity
            android:name=".LocationActivity"
            android:label="@string/title_activity_map"
            android:parentActivityName=".PhotoMetaActivity"
            android:screenOrientation="portrait">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".PhotoMetaActivity" />
        </activity>
        <activity
            android:name=".SignInActivity"
            android:label="@string/title_activity_sign_in"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.Dialog.NoActionBar.MinWidth">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.viableindustries.waterreporter.MainActivity" />
        </activity>
        <activity
            android:name=".camera.CameraActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PhotoActivity"
            android:label="@string/title_activity_photo"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.viableindustries.waterreporter.MainActivity" />
        </activity>
        <activity
            android:name=".RegistrationActivity"
            android:label="@string/title_activity_registration"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.Dialog.NoActionBar.MinWidth">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.viableindustries.waterreporter.MainActivity" />
        </activity>
        <activity
            android:name=".ProfileBasicActivity"
            android:label="@string/title_activity_profile_basic"
            android:parentActivityName=".RegistrationActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.Dialog.NoActionBar.MinWidth">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.viableindustries.waterreporter.RegistrationActivity" />
        </activity>
        <activity
            android:name=".RegistrationForkActivity"
            android:label="@string/title_activity_registration_fork"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.Dialog.NoActionBar.MinWidth">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.viableindustries.waterreporter.MainActivity" />
        </activity>
        <activity
            android:name=".PasswordResetActivity"
            android:label="@string/title_activity_password_reset"
            android:parentActivityName=".SignInActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.Dialog.NoActionBar.MinWidth">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.viableindustries.waterreporter.SignInActivity" />
        </activity>
        <activity
            android:name=".OrganizationListActivity"
            android:label="@string/title_activity_organization_list"
            android:parentActivityName=".SubmissionsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.viableindustries.waterreporter.SubmissionsActivity" />
        </activity>
        <activity
            android:name=".RegistrationGroupsActivity"
            android:label="@string/title_activity_registration_groups">

            <!-- <meta-data -->
            <!-- android:name="android.support.PARENT_ACTIVITY" -->
            <!-- android:value="com.viableindustries.waterreporter.ProfileBasicActivity" /> -->
        </activity>
        <activity
            android:name=".MapDetailActivity"
            android:label="@string/title_activity_map_detail"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.viableindustries.waterreporter.MainActivity" />
        </activity>
        <activity
            android:name=".UserProfileActivity"
            android:label="@string/title_activity_user_profile"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.viableindustries.waterreporter.MainActivity" />
        </activity>
        <activity
            android:name=".UserGroupsActivity"
            android:label="@string/title_activity_user_groups"
            android:parentActivityName=".UserProfileActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.viableindustries.waterreporter.UserProfileActivity" />
        </activity>
        <activity
            android:name=".OrganizationProfileActivity"
            android:label="@string/title_activity_organization_profile"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".OrganizationMembersActivity"
            android:label="@string/title_activity_organization_members"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"></activity>
    </application>

</manifest>